@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body{
    font-family: 'Sigmar', cursive;
    background-color: #0A4D68;

}

.titulo{
    color:white;
    text-align: center;
    font-size: 38px;
    

}
.titulo2{
    font-family: 'Sigmar', cursive;
    color: white;
    font-size:30px ;

}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.tarjetas{
    display: flex;
    gap:10px;

}
.tarjeta-de-mokepon{
    display: flex;
    font-family: 'Sigmar', cursive;
    color: white;
    width: 144px;
    height: 154px;
    background: #05BFDB;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid fuchsia;
    border-radius: 20px;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    align-items: center}
.tarjeta-de-mokepon img
{
    width: 90px;
}
.bseleccionar-mascota{
    font-family: 'Sigmar', cursive;
    margin: 1px;
    width: 180px;
    height: 70px;
    background: #00FFCA;
    border: 1px solid fuchsia;
    border-radius:20px;
}