@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Fredoka', cursive;
    background-color: #0A4D68;

}

.titulo{
    color:white;
    text-align: center;
    font-size: 38px;
    

}
.titulo2{
    font-family:'Fredoka', sans-serif;
    color: white;
    font-size:30px ;

}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.tarjetas{
    display: flex;
    gap:10px;

}
.tarjeta-de-mokepon{
    display: flex;
    font-family: 'Fredoka', sans-serif;
    color: white;
    width: 144px;
    height: 154px;
    background: #05BFDB;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid fuchsia;
    border-radius: 20px;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    align-items: center}


.tarjeta-de-mokepon img{
    width: 90px;
}
.bseleccionar-mascota{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    background: #219fc5;
    border: 1px solid fuchsia;
    border-radius:20px;
}
input {
    display: none;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items:center;
}
.boton-de-ataque{
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100px;
    height: 50px;
    background:#19A7CE;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid fuchsia;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center  
}

#mensajes{
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 200px;
    height: 90px;
    background:#19A7CE;
    padding: 20px;
    margin: 10px;
    border: 2px solid fuchsia;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar{
    border: none;
    color: red;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

}
.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    border: 10px;
    background:#19A7CE;
    margin-right: 15px;
    column-width: auto;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    align-items: center;


}