.fondo{
    background-color:mediumspringgreen;
}
.titulo{
    color:currentcolor;
    text-align: center;
    width: 310px;
    height: 50px;
    background-color:aliceblue;
}
.titulo2{
    font-family: cursive;

}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.tarjeta-de-mokepon{
    font-family: cursive;
    width: 95px;
    height: 50px;
    background: lavenderblush;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid fuchsia;
}
.bseleccionar-mascota{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1px;
    width: 180px;
    height: 70px;
    background: lavender;
    border: 1px solid fuchsia
}